
// COLORS

$black: #04152d;
$black-dark: #041226;
$black-darker: #020c1b;

$blue: #1c4b91;
$blue-light: #173d77;

$pink: #da2f68;
$orange: #f89e00;
$white: #fff;

$gradient: linear-gradient(98.37deg, #f89e00 0.99%, #da2f68 100%);

// FONTS

$font: 'Inter', sans-serif;
$font-size: 16px;
$font-weight-regular: 400;
$font-weight-semi: 500;
$font-weight-bold: 600;